# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.sqlite3
db.sqlite3
/media
/staticfiles
/.env
/.venv
/venv/
env/
venv.bak/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# IDEs and editors
.vscode/
.idea/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Other files
*.pot
*.mo
*.pyc
*.db
*.log
*.csv
*.xls
*.xlsx

# Configuration files
*.env
