{% extends "base.html" %}
 {% block title %}
  {% if object %}
    Edit content "{{ object.title }}"
  {% else %}
    Add new content
  {% endif %}
 {% endblock %}
 {% block content %}
  <h1>
 [ 399 ]
 EBSCOhost - printed on 6/28/2024 12:23 AM via UNIVERSITY OF PRETORIA. All use subject to https://www.ebsco.com/terms-of-use
Building an E-Learning Platform
    {% if object %}
      Edit content "{{ object.title }}"
    {% else %}
      Add new content
    {% endif %}
  </h1>
  <div class="module">
    <h2>Course info</h2>
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Save content"></p>
    </form>
  </div>
 {% endblock %}